@page "/"
@using TwoDecksBlazor.Models
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<link rel="stylesheet" href="style.css"/>

<div class="container">
    <div class="row">

        <div class="col-5">
            <div class="row">
                <label for="deck1" accesskey="o">
                    <strong>Deck <span class="underline">O</span>ne</strong>
                </label>
                <select class="form-select mt-2" size="10" id="deck1" @bind="LeftCardSelected"
                        @ondblclick="() => _decks.MoveCard(LeftCardSelected, true)">
                    @for (int i = 0; i < _decks.LeftDeck.Count; i++) {
                        <option value="@i">Card @_decks.LeftDeck[i]</option>
                    }
                </select>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary mt-2" accesskey="s" @onclick="_decks.Shuffle">
                    <span class="underline">S</span>huffle
                </button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary mt-2" accesskey="r" @onclick="_decks.Reset">
                    <span class="underline">R</span>eset
                </button>
            </div>
        </div>

        <div class="col-2"></div>

        <div class="col-5">
            <div class="row">
                <label for="deck2" accesskey="w">
                    <strong>Deck T<span class="underline">w</span>o
                    </strong>
                </label>
                <select class="form-select mt-2" size="10" id="deck2" @bind="RightCardSelected"
                        @ondblclick="() => _decks.MoveCard(RightCardSelected, false)">
                    @for (int i = 0; i < _decks.RightDeck.Count; i++) {
                        <option value="@i">Card @_decks.RightDeck[i]</option>
                    }
                </select>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary mt-2" accesskey="c" @onclick="_decks.Clear">
                    <span class="underline">C</span>lear
                </button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary mt-2" accesskey="t" @onclick="_decks.Sort">
                    Sor<span class="underline">t</span>
                </button>
            </div>
        </div>

    </div>
</div>

@code{

    private readonly TwoDecks _decks = new();
    private int LeftCardSelected;
    private int RightCardSelected;

}