@page "/"
@using TwoDecksBlazor.Models
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<link rel="stylesheet" href="style.css"/>

<div class="container">
    <div class="row">

        <div class="col-5">
            <div class="row">
                <label for="deck1" accesskey="o">
                    <strong>Deck <span class="underline">O</span>ne</strong>
                </label>
                <select class="form-select mt-2" size="10" id="deck1" @bind="_leftCardSelected"
                        @ondblclick="LeftDeckDblClick" @onkeydown="LeftDeckKeyDown">
                    @for (int i = 0; i < _decks.LeftDeckCount; i++) {
                        <option value="@i">@_decks.LeftDeckCardName(i)</option>
                    }
                </select>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary mt-2" accesskey="s" @onclick="_decks.Shuffle">
                    <span class="underline">S</span>huffle
                </button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary mt-2" accesskey="r" @onclick="_decks.Reset">
                    <span class="underline">R</span>eset
                </button>
            </div>
        </div>

        <div class="col-1"></div>

        <div class="col-5">
            <div class="row">
                <label for="deck2" accesskey="w">
                    <strong>Deck T<span class="underline">w</span>o
                    </strong>
                </label>
                <select class="form-select mt-2" size="10" id="deck2" @bind="_rightCardSelected"
                        @ondblclick="RightDeckDblClick" @onkeydown="RightDeckKeyDown">
                    @for (int i = 0; i < _decks.RightDeckCount; i++) {
                        <option value="@i">@_decks.RightDeckCardName(i)</option>
                    }
                </select>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary mt-2" accesskey="c" @onclick="_decks.Clear">
                    <span class="underline">C</span>lear
                </button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary mt-2" accesskey="t" @onclick="_decks.Sort">
                    Sor<span class="underline">t</span>
                </button>
            </div>
        </div>

    </div>
</div>

@code{

    private readonly TwoDecks _decks = new();
    private int _leftCardSelected;
    private int _rightCardSelected;

    private void LeftDeckDblClick() {
        _decks.MoveCard(_leftCardSelected, true);
    }

    private void RightDeckDblClick() {
        _decks.MoveCard(_rightCardSelected, false);
    }

    private void LeftDeckKeyDown(KeyboardEventArgs e) {
        if (e.Key != "Enter") return;

        _decks.MoveCard(_leftCardSelected, true);
    }

    private void RightDeckKeyDown(KeyboardEventArgs e) {
        if (e.Key != "Enter") return;

        _decks.MoveCard(_rightCardSelected, false);
    }

}