@page "/"
@using MatchGameBlazor.Services
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        @foreach (string emoji in _gameController.ShuffledEmojis) {
            <div class="col-3">
                <button type="button" class="btn btn-outline-dark">
                    <h1>@emoji</h1>
                </button>
            </div>
        }
    </div>
</div>

@code {
    private readonly GameController _gameController = new();
}