@model Dictionary<string, int>

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
<div>
    Hello World (from the view)
    @foreach (KeyValuePair<string, int> person in Model) {
        <p>Name: @person.Key - Age: @person.Value</p>
    }
</div>
</body>
</html>