@page "/"
@rendermode InteractiveServer
@using BlazorMatchGame.Models

<link rel="stylesheet" href="./style.css"/>

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        @for (int i = 0; i < Game.ShuffledEmojis.Count; i++) {
            string emoji = Game.ShuffledEmojis[i];
            string button = $"button-{i}";

            <div class="col-3">
                <button @onclick="@(() => Game.ButtonClick(emoji, button))" type="button" class="btn btn-outline-dark">
                    <h1>@emoji</h1>
                </button>
            </div>
        }
    </div>
    <div class="row">
        <h2>Matches found: @Game.MatchesFound</h2>
    </div>
</div>

@code{

    protected override void OnInitialized() {
        Game.InitGame();
    }

}
