.container {
    width: 400px;
}

.btn-emoji {
    width: 100px;
    height: 100px;
    font-size: 50px;
}

.btn-newGame {
    width: 400px;
}

.game-info {
    margin-top: 20px;
}

.game-timer {
    display: flex;
    justify-content: space-around;
}

.new-game {
    margin-top: 20px;
}