@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Party</title>
</head>
<body>
    <div>
        <p>We're going to have an exciting party.<br/>(To do: sell it better. Add pictures or something.)</p>
    </div>
    <div>
        <a asp-controller="Home" asp-action="RsvpForm">Rsvp Now</a>
    </div>
    <div>
        Click <a asp-controller="Home" asp-action="ListResponses">here</a> to see who is coming.
    </div>
</body>
</html>
