@model IEnumerable<GuestResponse>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>List Responses</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">Here is the list of people attending the party</h5>
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (GuestResponse response in Model) {
                <tr>
                    <td>@response.Name</td>
                    <td>@response.Email</td>
                    <td>@response.Phone</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="m-2">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home page</a>
    </div>
</body>
</html>