@page "/editGame"

<h3>EditGame</h3>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@Game" FormName="editGame" OnSubmit="HandleSubmit">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <InputText id="name" class="form-control" @bind-Value="Game.Name"/>
            </div>
            <div class="mb-3">
                <label for="genre" class="form-label">Genre:</label>
                <InputSelect id="genre" class="form-select" @bind-Value="Game.GenreId">
                    <option value="">Select a genre</option>
                    @if (_genres?.Count() > 0) {
                        @foreach (Genre genre in _genres) {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    } else {
                        <p><em>Loading..</em></p>
                    }
                </InputSelect>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label>
                <InputNumber id="price" class="form-control" @bind-Value="Game.Price"/>
            </div>
            <div class="mb-3">
                <label for="releaseDate" class="form-label">Name:</label>
                <InputDate id="releaseDate" class="form-control" @bind-Value="Game.ReleaseDate"/>
            </div>
            <button type="submit" class="btn btn-primary">Add New Game</button>
        </EditForm>
    </div>
</div>

@code {

    [SupplyParameterFromForm]
    private GameDetails Game { get; set; } = new() {
        Name = string.Empty,
        ReleaseDate = DateOnly.FromDateTime(DateTime.UtcNow)
    };

    private IEnumerable<Genre>? _genres;

    protected override void OnInitialized() {
        _genres = GenresClient.GetGenres();
    }

    public void HandleSubmit() {
        GamesClient.AddGame(Game);
    }

}