@model IEnumerable<GuestResponse>
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>List Responses</title>
</head>
<body>
    <div>
        <h2>Here is the list of people attending the party</h2>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any()) {
                    @foreach (GuestResponse guestResponse in Model) {
                        <tr>
                            <th>@guestResponse.Name</th>
                            <th>@guestResponse.Email</th>
                            <th>@guestResponse.Phone</th>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>