@model PartyInvites.Models.GuestResponse
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Thanks</title>
</head>
<body>
    <div>
        <h1>Thank you, @Model.Name</h1>

        @if (Model.WillAttend == true) {
            <p>It's great that you're coming. The drinks are already in the fridge!</p>
        }
        else {
            <p>Sorry to hear that you can't make it, but thanks for letting us know.</p>
        }

        Click <a asp-controller="Home" asp-action="ListResponses">here</a> to see who is coming.
    </div>
</body>
</html>