@page "/admin/orders"
@inherits OwningComponentBase<IOrderRepository>

<OrderTable TableTitle="Unshipped Orders" Orders="UnshippedOrders" ButtonLabel="Ship"
            OrderSelected="ShipOrder"></OrderTable>
<OrderTable TableTitle="Shipped Orders" Orders="ShippedOrders" ButtonLabel="Reset"
            OrderSelected="ResetOrder"></OrderTable>
<button class="btn btn-info" @onclick="@(e => UpdateData())">Refresh Data</button>

@code{

    private IOrderRepository Repository => Service;
    private IEnumerable<Order> AllOrders { get; set; } = [];
    private IEnumerable<Order> UnshippedOrders { get; set; } = [];
    private IEnumerable<Order> ShippedOrders { get; set; } = [];

    protected override async Task OnInitializedAsync() {
        await UpdateData();
    }

    private async Task UpdateData() {
        AllOrders = await Repository.Orders.ToListAsync();
        UnshippedOrders = AllOrders.Where(order => !order.Shipped);
        ShippedOrders = AllOrders.Where(order => order.Shipped);
    }

    private void ShipOrder(int id) => UpdateOrder(id, true);
    private void ResetOrder(int id) => UpdateOrder(id, false);

    private void UpdateOrder(int id, bool shipValue) {
        Order? order = Repository.Orders.FirstOrDefault(o => o.OrderId == id);

        if (order == null) return;

        order.Shipped = shipValue;
        Repository.SaverOrder(order);
    }

}